fastapi==0.103.2
uvicorn==0.22.0
fairpredictor
tflite-runtime==2.14.0
# tensorflow==2.12.0 
# efficientnet==1.1.1
onnxruntime==1.20.1
numpy<2.0.0
opencv-python-headless==4.10.0.84
# ultralytics[export]<=8.0.0
# torch==2.5.1+cpu
# torchvision==0.20.1+cpu
# ultralytics==8.3.26
# hot-fair-utilities==2.0.2 ## TODO : Get rid of this after the testing with YOLOv1n